<div class="navbar">
    <div class="navbar-logo">
        <img src="/assets/images/logo.png" alt="cameraAi">
    </div>
    <div class="navbar-user">
        <div class="navbar-notify">
            <img src="/assets/icon/thongbao.png" alt="thongbao">
        </div>
        <div class="navbar-avata">
            <img class="avata" src="/assets/icon/avata.png" alt="thongbao">
        </div>
        <div class="navbar-name">Lê Trọng Linh</div>
        <!-- <a href=""></a> -->
        <a class="navbar-arrow">
            <img src="/assets/icon/arrow.png" alt="muiten">
        </a>
    </div>
</div>
<!-- <div class="navbar-dash"></div> -->