.container-full {
    width: 100%;
    display: flex;
    overflow: auto;
    position: relative;
}

.sider-bar {
    display: flex;
    flex-direction: column;
    gap: 0;
    height: calc(100vh - 52px);
    scrollbar-width: 1px;
    scrollbar-color: green;
}

.layout-side-bar {
    flex: 0 0 280px;
    width: auto;
    min-width: 280px;
    max-width: 280px;
}

.sider-bar-list {
    list-style-type: none;
    font-family: 'Averta Std CY';
    font-size: 14px;
    height: 87vh;
    overflow: auto;
    padding: 0;
    border: 0px;
    scrollbar-width: 1px;
    scrollbar-color: green;
}

.sider-bar-list::-webkit-scrollbar {
    width: 5px !important;
}

.sider-bar-list::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2) !important;
    border-radius: 4px !important;
}

.sider-bar-item {
    display: flex;
    align-items: center;
    height: 40px;
    margin: 4px;
    padding-left: 10px;
    padding-right: 34px;
    border-radius: 10px;
    gap: 8px;
}

.sider-bar-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.sider-bar-item a {
    display: flex;
    align-items: center;
    height: 40px;
    border-radius: 10px;
    gap: 8px;
}

.sider-bar-text {
    /* display: none; */
    font-family: 'Averta Std CY';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.4);
}

.sider-bar-small-button {
    cursor: pointer;
    display: flex;
    gap: 12px;
    padding-left: 15px;
}

.service {
    flex: 9 1;
    height: calc(100vh - 52px);
    max-width: 100%;
    min-width: 320px;
    overflow: auto;
    background-color: #fff;
}

.service::-webkit-scrollbar {
    width: 5px !important;
}

.service::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2) !important;
    border-radius: 4px !important;
}



.sider-bar-button-list {
    margin: 4px;
    border-radius: 10px;
}

.sider-bar-button-list:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.button-list {
    display: flex; 
    width: inherit;
    align-items: center;
    text-align: center;
    justify-content: start; 
    border-radius: 10px;
}

.sider-bar-button-list-item {
    padding-left: 60px;
}

.button-list-item:hover{
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
}

.item-text:hover{
    color: rgba(0, 0, 0, 0.4) ;
}

.button-list-item::after {
    border: 0 !important;
}