:root {

    --primary: #0040FF;
    --danger: #FF3300;
    --text-color: #000000;
    --font-family: 'Averta Std CY', sans-serif;
    --bg-color: #FFFFFF;
    --text-color-op: rgba(0, 0, 0, 0.4);
    --bg-color-hover: rgba(202, 207, 238, 0.2);
    --color-border: rgba(0, 0, 0, 0.05);
}

@font-face {
    font-family: 'Averta Std CY';
    src: url('../src/assets/fonts/AvertaStdCY-Black.woff2') format('woff2'),
        url('../src/assets/fonts/AvertaStdCY-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta Std CY';
    src: url('../src/assets/fonts/AvertaStdCY-Bold.woff2') format('woff2'),
        url('../src/assets/fonts/AvertaStdCY-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta Std CY';
    src: url('../src/assets/fonts/AvertaStdCY-BlackItalic.woff2') format('woff2'),
        url('../src/assets/fonts/AvertaStdCY-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

/* @font-face {
    font-family: 'Averta Std CY';
    src: url('../src/assets/fonts/AvertaStdCY-ExtraboldItalic.woff2') format('woff2'),
        url('../src/assets/fonts/AvertaStdCY-ExtraboldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
} */

@font-face {
    font-family: 'Averta Std CY';
    src: url('../src/assets/fonts/AvertaStdCY-BoldItalic.woff2') format('woff2'),
        url('../src/assets/fonts/AvertaStdCY-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Averta Std CY';
    src: url('../src/assets/fonts/AvertaStdCY-Extrabold.woff2') format('woff2'),
        url('../src/assets/fonts/AvertaStdCY-Extrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta Std CY Extrathin';
    src: url('../src/assets/fonts/AvertaStdCY-Extrathin.woff2') format('woff2'),
        url('../src/assets/fonts/AvertaStdCY-Extrathin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta Std CY Extrathin';
    src: url('../src/assets/fonts/AvertaStdCY-ExtrathinItalic.woff2') format('woff2'),
        url('../src/assets/fonts/AvertaStdCY-ExtrathinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Averta Std CY';
    src: url('../src/assets/fonts/AvertaStdCY-Light.woff2') format('woff2'),
        url('../src/assets/fonts/AvertaStdCY-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta Std CY';
    src: url('../src/assets/fonts/AvertaStdCY-LightItalic.woff2') format('woff2'),
        url('../src/assets/fonts/AvertaStdCY-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Averta Std CY';
    src: url('../src/assets/fonts/AvertaStdCY-Regular.woff2') format('woff2'),
        url('../src/assets/fonts/AvertaStdCY-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta Std CY';
    src: url('../src/assets/fonts/AvertaStdCY-RegularItalic.woff2') format('woff2'),
        url('../src/assets/fonts/AvertaStdCY-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Averta Std CY';
    src: url('../src/assets/fonts/AvertaStdCY-Semibold.woff2') format('woff2'),
        url('../src/assets/fonts/AvertaStdCY-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta Std CY';
    src: url('../src/assets/fonts/AvertaStdCY-Thin.woff2') format('woff2'),
        url('../src/assets/fonts/AvertaStdCY-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta Std CY';
    src: url('../src/assets/fonts/AvertaStdCY-SemiboldItalic.woff2') format('woff2'),
        url('../src/assets/fonts/AvertaStdCY-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Averta Std CY';
    src: url('../src/assets/fonts/AvertaStdCY-ThinItalic.woff2') format('woff2'),
        url('../src/assets/fonts/AvertaStdCY-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body,
html,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
button {
    font-family: 'Averta Std CY';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

body::-webkit-scrollbar {
    width: 5px;
    /* margin-left: 4px; */
}

body::-webkit-scrollbar-track {
    border: 1px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.2);
}

#__notification {
    position: relative;
}

::-ms-reveal {
    display: none;
}

/* div{
    padding: 0;
} */

:global(.ant-menu-sub::-webkit-scrollbar) {
    width: 5px !important;
}

:global(.ant-menu-sub::-webkit-scrollbar-thumb) {
    background-color: rgba(0, 0, 0, 0.2) !important;
    border-radius: 4px !important;
}

:global(.ant-menu-inline-collapsed-tooltip) {
    display: none !important;
}

:global(.ant-menu-item) {
    height: 36px !important;
    line-height: 48px !important;
}